<h1>Food Pairings for <%= link_to @wine.wine_name, wine_path %></h1>

<% Food.all.each do |food| %>
    <label>
    <%= check_box_tag "wine[food_ids][]", food.id, @user.food_ids.include?(food.id) %>
    <%= food.food_name %>
    <br>
<% end %>

